In [9]:
df = pd.read_csv("C:\\Users\\ramya\\Downloads\\archive (9)\\Meteorite_Landings.csv")

In [10]:
df

,name,id,nametype,recclass,mass (g),fall,year,reclat,reclong,GeoLocation
0,Aachen,1,Valid,L5,21.0,Fell,1880.0,50.77500,6.08333,"(50.775, 6.08333)"
1,Aarhus,2,Valid,H6,720.0,Fell,1951.0,56.18333,10.23333,"(56.18333, 10.23333)"
2,Abee,6,Valid,EH4,107000.0,Fell,1952.0,54.21667,-113.00000,"(54.21667, -113.0)"
3,Acapulco,10,Valid,Acapulcoite,1914.0,Fell,1976.0,16.88333,-99.90000,"(16.88333, -99.9)"
4,Achiras,370,Valid,L6,780.0,Fell,1902.0,-33.16667,-64.95000,"(-33.16667, -64.95)"
...,...,...,...,...,...,...,...,...,...,...
45711,Zillah 002,31356,Valid,Eucrite,172.0,Found,1990.0,29.03700,17.01850,"(29.037, 17.0185)"
45712,Zinder,30409,Valid,"Pallasite, ungrouped",46.0,Found,1999.0,13.78333,8.96667,"(13.78333, 8.96667)"
45713,Zlin,30410,Valid,H4,3.3,Found,1939.0,49.25000,17.66667,"(49.25, 17.66667)"
45714,Zubkovsky,31357,Valid,L6,2167.0,Found,2003.0,49.78917,41.50460,"(49.78917, 41.5046)"
45715,Zulu Queen,30414,Valid,L3.7,200.0,Found,1976.0,33.98333,-115.68333,"(33.98333, -115.68333)"

In [30]:

index_of_max_value = df['year'].idxmax()

print(index_of_max_value)

30682

In [33]:
row = df.loc[30682]

In [34]:
row

name           Northwest Africa 7701
id                             57150
nametype                       Valid
recclass                         CK6
mass (g)                        55.0
fall                           Found
year                          2101.0
reclat                           0.0
reclong                          0.0
GeoLocation               (0.0, 0.0)
Name: 30682, dtype: object

In [39]:
top_10_values = df['year'].nlargest(10)

top_10_values

30682    2101.0
194      2013.0
30730    2013.0
30762    2013.0
30763    2013.0
30774    2013.0
30775    2013.0
30776    2013.0
30777    2013.0
30779    2013.0
Name: year, dtype: float64

In [42]:
df['nametype'].value_counts()

Valid     45641
Relict       75
Name: nametype, dtype: int64

In [43]:
df['year'].head(10)

0    1880.0
1    1951.0
2    1952.0
3    1976.0
4    1902.0
5    1919.0
6    1949.0
7    1814.0
8    1930.0
9    1920.0
Name: year, dtype: float64